@keyframes beat{
	to { transform: scale(1.4); }
}

@keyframes logoTextColor {
  0% {
  color: rgb(0, 0, 0, 0);
  }

  50% {
  color: #ff001b;
  }

  100% {
  color: rgba(255, 255, 255, 1);
  }
}

@keyframes logoMove {
  0% {
  top: -200px;
  }

  100% {
  top: 0;
  // fill: rgba(255, 255, 255, 1);
  }
}

